html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(#808080,#ffffff,#ffffff);
}

.nav-item:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar-principal {
    font-weight: 600;
    color: #ffffff;
}

.navbar-elemento {
    font-weight: 800;
    color: #ffffff;
}

.centrotexto {
    position: center;
    top: 50%;
    left: 50%;
    text-decoration:underline double;
}

