<h1 class="display-4">My Certificates</h1>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card w-90" style="border-color:#808080">
            <img src="~/images&files/itil.jpg" height="178px" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">ITILv4 Certificate</h5>
                <p class="card-text">ITIL Foundation certificate in IT Service Management</p>
                <a href="https://drive.google.com/file/d/1onsym49OhEqY_YkE78z2FYc0yd9or6GI/view?usp=sharing" target="_blank" class="btn btn-outline-primary">Check it out!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="border-color:#808080">
            <img src="~/images&files/logo-ef.jpg" height="155px" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">English Level</h5>
                <p class="card-text">General English level C2 - reading, writing, listening & speaking</p>
                <a href="https://drive.google.com/file/d/1YLYc39K6b_vqsQ_8zVvEcmCdnk5xPIkw/view?usp=sharing" target="_blank" class="btn btn-outline-primary">Check it out!</a>
            </div>
        </div>
    </div>
</div>

