<h1 class="display-4">Education</h1>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card w-75" style="border-color:#808080">
            <img src="~/images&files/LOGO-INSC.png" height="175px" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">High School Degree</h5>
                <p class="card-text">Nuestra Señora del Carmen Institute</p>
                <p class="card-text">Belgrano, Capital Federal</p>
                <p class="text-muted"><small>March 2014 - December 2018</small></p>
                </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card w-75" style="border-color:#808080">
            <img src="~/images&files/ort.jpg" height="150px" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">College Degree - System Analytics</h5>
                <p class="card-text">O.R.T. Institute</p>
                <p class="card-text">Nuñez, Capital Federal</p>
                <p class="text-muted"><small>March 2021 - Present day</small></p>
                </div>
        </div>
    </div>
</div>

