<h1 class="display-4">Employment History</h1>

<div class="row">
    <div class="col-md-8 offset-md-3">
        <div class="card w-75 mb-5 mt-2" style="border-color:#808080">
            <img src="~/images&files/Pwc-logo.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">IT Support Lvl2</h5>
                <p class="card-text">PwC Acceleration Centers</p>
                <p class="card-text">
                    On Site technical support assistance & problem solving in both
                    Software and Hardware instances to internal clients of the firm.
                </p>
                <p class="card-text">
                    Making use of tools such as
                </p>
                <ul class="list-group list-group-flush pb-3">
                    <li class="list-group-item">ServiceNow</li>
                    <li class="list-group-item">Workspace One Intelligent HUB</li>
                    <li class="list-group-item">OneAD Active Directory</li>
                    <li class="list-group-item">VmWare Virtual Machine</li>
                    <li class="list-group-item">Microsoft Remote Desktop</li>
                </ul>
                <p class="card-text">Olivos, Buenos Aires Province</p>
                <p class="text-muted"><small>June 2022 - Present Day</small></p>
            </div>
        </div>
        <div class="card w-75" style="border-color:#808080">
            <img src="~/images&files/herramientaslogo.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Carpenter´s Shop employee</h5>
                <p class="card-text">SistemaEstudio</p>
                <p class="card-text">Building, transporting & furniture</p>
                <p class="card-text">Villa Ortúzar, Capital Federal</p>
                <p class="text-muted"><small>April 2014 - November 2021</small></p>
            </div>
        </div>
    </div>
</div>
