
<div class="text-center" style="color:#ffffff">
    <h1 class="display-4">Welcome</h1>
    <p class="text-xxl-end">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul class="list-inline">
    <li class="list-inline-item"><i class="fa-brands fa-java"></i> Java</li>
    <li class="list-inline-item"><i class="fa-brands fa-js"></i> Javascript</li>
    
    <li class="list-inline-item"><img src="~/images&files/csharp.png" width="15px"/> C#</li>
    <li class="list-inline-item"><i class="fa-solid fa-database"></i> SQL</li>
    <li class="list-inline-item"><i class="fa-brands fa-git-alt"></i> Git</li>
    <li class="list-inline-item"><i class="fa-brands fa-html5"></i> html</li>
    <li class="list-inline-item"><img src="~/images&files/css.png" width="15px" />css</li>
    <li class="list-inline-item"><img src="~/images&files/net_core.png" width="15px" /> .NET</li>
    </ul>
