

<h1 class="display-4 text-center">About Me</h1>

<div class="d-flex justify-content modal-dialog modal-dialog-centered modal-xl pb-3">
    
    <p class="px-md-4">
        
        I´m a Programmer Analyst looking for my place in the IT World, while studying to be a Systems Analyst at ORT Institute & working as a OnSite Technical Support Technician at the PwC IT Support Team
    </p>
    <p>
        I see myself as a meticulous person with great analytical capabilities,constantly looking to deliver results with great attention to detail
    </p>
</div>
<div class="pt-5">
    <span>Languages, frameworks & tools I have experience with:</span>
<ul class="list-inline">
    <li class="list-inline-item"><i class="fa-brands fa-java"></i> Java</li>
    <li class="list-inline-item"><i class="fa-solid fa-database"></i> SQL</li>
    <li class="list-inline-item"><i class="fa-brands fa-git-alt"></i> Git</li>
    <li class="list-inline-item"><i class="fa-brands fa-html5"></i> html</li>
    <li class="list-inline-item"><img src="~/images&files/css.png" width="15px" />css</li>
    <li class="list-inline-item"><i class="fa-brands fa-js"></i> Javascript</li>
    <li class="list-inline-item"><i class="fa-brands fa-bootstrap"></i> Bootstrap</li>
    <li class="list-inline-item"><img src="~/images&files/csharp.png" width="15px" /> C#</li>
        <li class="list-inline-item"><img src="~/images&files/net_core.png" width="15px"/> .NET</li>
    <li class="list-inline-item"><i class="fa-brands fa-vuejs"></i> VueJs</li>
    <li class="list-inline-item"><i class="fa-brands fa-react"></i> ReactJs</li>
    <li class="list-inline-item"><i class="fa-brands fa-node-js"></i> NodeJs</li>
    </ul>
    </div>
